/* You can add global styles to this file, and also import other style files */
:root{
  --darkgrey: #212329;
  --brightred: #f9423d;
  --white: #fff;
  --lightred: #f9433dcc;
}

html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
